* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress {
    position: absolute;
    top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.cube {
    position: relative;
    width: 265px;
    height: 250px;
}

.face {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    position: absolute;
    background: #342929;
    border: 3px solid #342929;
    border-radius: 4px;
}

.left {
    left: 0;
    bottom: 0;
    transform: rotateX(30deg) rotatey(45deg) rotatez(0deg);
}

.right {
    right: 0;
    bottom: 0;
    transform: rotateX(-30deg) rotatey(45deg) rotatez(0deg);
}

.top {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotateX(60deg) rotatey(0deg) rotatez(45deg);
}

.cube:before,
.left:before,
.top:before,
.top:after {
    content: "";
    background-color: #342929;
    position: absolute;
}

.cube:before {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.left:before,
.top:before {
    height: 100%;
    width: 2px;
    right: -4px;
}

.top:after {
    bottom: -4px;
    width: 100%;
    height: 2px;
}

.face > div {
    margin: 3px;
    border-radius: 2px;
}

.blink {
    animation: blink 1s infinite both linear;
}

@keyframes blink {
    0% {
        /* opacity: .5; */
        border: 20px solid #ffffff12;
    }

    100% {
        border: 0px solid #ffffff80;
        /* opacity: 1; */
    }
}